<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="tests" thread-count="2">
	<parameter name="config-file" value="src/test/resources/config.properties/" />
	<test name="Test-1">
		<parameter name="browserName" value="Chrome" />
		<parameter name="OS" value="MAC" />
		<classes>
			<class name="testcases.GoogleSearchTests" />
		</classes>
	</test> <!-- Test -->
	<test name="Test-2">
		<parameter name="browserName" value="Chrome" />
		<parameter name="OS" value="WINDOWS" />
		<classes>
			<class name="testcases.GoogleSearchTests2" />
		</classes>
	</test> <!-- Test -->
	<test name="Test-3">
		<parameter name="browserName" value="Chrome" />
		<parameter name="OS" value="MAC" />
		<classes>
			<class name="testcases.GoogleSearchTests3" />
		</classes>
	</test> <!-- Test -->
	<test name="Test-4">
		<parameter name="browserName" value="Chrome" />
		<parameter name="OS" value="Windows" />
		<classes>
			<class name="testcases.GoogleSearchTests4" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->